/*
Файл для отдельной подгрузки WOFF2-версии файла JS-ом.
Будет обработан при сборке: в url() будет подставлена base64 кодированная версия указанного файла
*/

@font-face {
  font-family: 'FiraSans';
  src: url('firasans-italic-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'FiraSans';
  src: url('firasans-medium-webfont.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'FiraSans';
  src: url('firasans-regular-webfont.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
