@screen-xs:                   360px;
@screen-sm:                   768px;
@screen-lg:                   1200px;

@white:                       #fff;
@gray-base:                   #000;
@gray:                        #444;

@color-line:                  #3e98d7;

@text-color:                  @gray-base;

@font-family:                 'FiraSans', sans-serif;
@font-size:                   18px;
@font-size-h1:                28px;
@font-size-h2:                20px;
@font-size-h3:                28px;
